*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: white;
}

.city-weather-box{
  width: 100%;
  height: 100vh;
}

.header{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.btn{
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(20, 37, 89);
  cursor: pointer;
}